<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number">Badge Number: <%= @cop.badge_number %></p>
<p id="cop_precinct_number">Precinct: <%= @cop.precinct_number %></p>

<div class="approval">
	<p id="cop_approval_rating">Approval: <%= @approval_rating %></p>
	<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put, remote: true %>
	<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put, remote: true %>
</div>

<div class="cpr">
	<p id="cop_courtesy_rating">C: <%= @cop.cpr_rating[:courtesy] %></p>
	<p id="cop_professionalism_rating">P: <%= @cop.cpr_rating[:professionalism] %></p>
	<p id="cop_respect_rating">R: <%= @cop.cpr_rating[:respect] %></p>
	<%= render :partial => "ratings/form", :locals => {:cop => @cop, :rating => @rating} %>
</div>




<ul class="comments">
  <% @comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= link_to "New Comment", new_cop_comment_path(@cop), id: "new_comment", remote: true %>
