<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number"><%= @cop.badge_number %></p>
<p id="cop_precinct_number"><%= @cop.precinct_number %></p>
<p id="cop_approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put, remote: true %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put, remote: true %>

<ul class="cpr-ratings">
	<li id="courtesy">
		<form action="">
			Courtesy:
			<input type="radio" name="really bad" value="1">
			<input type="radio" name="bad" value="2">
			<input type="radio" name="neutral" value="3">
			<input type="radio" name="good" value="4">
			<input type="radio" name="really good" value="5">
		</form>
	</li>
	<li id="professionalism">
		<form action="">
			Professionalism:
			<input type="radio" name="really bad" value="1">
			<input type="radio" name="bad" value="2">
			<input type="radio" name="neutral" value="3">
			<input type="radio" name="good" value="4">
			<input type="radio" name="really good" value="5">
		</form>
	</li>
	<li id="respect">
		<form action="">
			Respect:
			<input type="radio" name="really bad" value="1">
			<input type="radio" name="bad" value="2">
			<input type="radio" name="neutral" value="3">
			<input type="radio" name="good" value="4">
			<input type="radio" name="really good" value="5">
		</form>
	</li>
</ul>


<ul class="comments">
  <% @comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= link_to "New Comment", new_cop_comment_path(@cop), id: "new_comment", remote: true %>
