<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number"><%= @cop.badge_number %></p>
<p id="cop_precinct_name"><%= @cop.precinct_name %></p>
<p id="cop_approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put %>

<ul class="comments">
  <% @comments.each do |comment| %>
  <li>
    <h3><%= comment.title %> - <%= comment.author %></h3>
    <p><%= comment.text %></p>
  </li>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= hidden_field_tag 'cop_id', @cop.id %>
  <%= f.submit "Done"%>
<% end %>
