<h1><%= @cop.name %></h1>
<p><%= @cop.badge_number %></p>
<p><%= @cop.precinct_name %></p>
<p id="approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put %>

<ul class="comments">
  <% @comments.each do |comment| %>
  <li>
    <h3><%= comment.title %> - <%= comment.author %></h3>
    <p><%= comment.text %></p>
  </li>
  <% end %>
</ul>