<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number"><%= @cop.badge_number %></p>
<p id="cop_precinct_number"><%= @cop.precinct_number %></p>
<p id="cop_approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put, remote: true %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put, remote: true %>

<form action="" id="new_rating">
	<ul class="cpr-ratings">
		<li id="courtesy">
				Courtesy:
				<input type="radio" name="courtesy[worst]" value="1">
				<input type="radio" name="courtesy[bad]" value="2">
				<input type="radio" name="courtesy[neutral]" value="3">
				<input type="radio" name="courtesy[good]" value="4">
				<input type="radio" name="courtesy[best]" value="5">
		</li>
		<li id="professionalism">
				Professionalism:
				<input type="radio" name="profesionalism[worst]" value="1">
				<input type="radio" name="profesionalism[bad]" value="2">
				<input type="radio" name="profesionalism[neutral]" value="3">
				<input type="radio" name="profesionalism[good]" value="4">
				<input type="radio" name="profesionalism[best]" value="5">
		</li>
		<li id="respect">
				Respect:
				<input type="radio" name="respect[worst]" value="1">
				<input type="radio" name="respect[bad]" value="2">
				<input type="radio" name="respect[neutral]" value="3">
				<input type="radio" name="respect[good]" value="4">
				<input type="radio" name="respect[best]" value="5">
		</li>
	</ul>
	<input type="submit" value="submit">
</form>

<ul class="comments">
  <% @comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= link_to "New Comment", new_cop_comment_path(@cop), id: "new_comment", remote: true %>
