<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number"><%= @cop.badge_number %></p>
<p id="cop_precinct_number"><%= @cop.precinct_number %></p>
<p id="cop_approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put, remote: true %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put, remote: true %>

<%= form_for([@cop, @rating], url: cop_ratings_path(@cop)) do |f| %>
	<ul class="cpr-ratings">
		<li id="courtesy">
			Courtesy:
			<%= f.radio_button :courtesy, 1 %>C-Worst
			<%= f.radio_button :courtesy, 2 %>C-Bad
			<%= f.radio_button :courtesy, 3 %>C-Neutral
			<%= f.radio_button :courtesy, 4 %>C-Good
			<%= f.radio_button :courtesy, 5 %>C-Best
		</li>
		<li id="professionalism">
			Professionalism:
			<%= f.radio_button :professionalism, 1 %>P-Worst
			<%= f.radio_button :professionalism, 2 %>P-Bad
			<%= f.radio_button :professionalism, 3 %>P-Neutral
			<%= f.radio_button :professionalism, 4 %>P-Good
			<%= f.radio_button :professionalism, 5 %>P-Best
		</li>
		<li id="respect">
			Respect:
			<%= f.radio_button :respect, 1 %>R-Worst
			<%= f.radio_button :respect, 2 %>R-Bad
			<%= f.radio_button :respect, 3 %>R-Neutral
			<%= f.radio_button :respect, 4 %>R-Good
			<%= f.radio_button :respect, 5 %>R-Best
		</li>
	</ul>
	<%= f.submit "Submit" %>
<% end %>


<ul class="comments">
  <% @comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= link_to "New Comment", new_cop_comment_path(@cop), id: "new_comment", remote: true %>
