<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1 id="cop_name"><%= @cop.name %></h1>
<p id="cop_badge_number"><%= @cop.badge_number %></p>
<p id="cop_precinct_name"><%= @cop.precinct_name %></p>
<p id="cop_approval_rating"><%= @approval_rating %></p>
<%= link_to 'Approve', cop_path(@cop, :rating => "approval"), :method => :put, remote: true %>
<%= link_to 'Disapprove', cop_path(@cop, :rating => "disapproval"), :method => :put, remote: true %>

<ul class="comments">
  <% @comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= link_to "New Comment", new_cop_comment_path(@cop), id: "new_comment", remote: true %>
